.Home-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.Gym-work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.Viw-time{
    background-color:azure;
    position: sticky;
    bottom: 0;
}
.location{
    margin-left: 20px;
    margin-top: -10px;
}
.card{
    background-color: antiquewhite;

    color: blue;
    padding: 20px;
    border-radius: 10px;
}
.btn-class{
    margin-left: 70px;
    margin-top: 30px;
    background-color: blue;
    color: white;
    padding: 15px 50px 15px 50px;
    border-radius: 5px;
}
.btn-class:hover{
    background-color: orange;
}
     
@media screen and(max-width:1000px) {
    .Home-container{
        grid-template-columns: repeat(1,1fr);
    }
} 